@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #04388d;
  --color-primary-content: #edeff7;
  --color-base-100: #edeff7;
  --color-base-200: #e7ecff;
  --color-base-300: #e0e6fb;
  --color-base-content: #1f272e;
  --color-highlight: rgba(166, 182, 255, 0.3);
}

@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;
  --color-primary: #a6b6ff;
  --color-primary-content: #1f272e;
  --color-base-100: #1f272e;
  --color-base-200: #232e38;
  --color-base-300: #273643;
  --color-base-content: #edeff7;
  --color-highlight: rgba(4, 56, 141, 0.3);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme inline {
  --color-background: var(--color-base-100);
  --color-foreground: var(--color-base-content);
  --font-sans: var(--font-exo);
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

@layer utilities {
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .animate-fade-in {
    animation: fade-in 0.3s ease-out forwards;
  }
}
